// SPDX-License-Identifier: BSD-3-Clause

#include <dt-bindings/interconnect/qcom,icc.h>
#include <dt-bindings/interconnect/qcom,x1e80100-rpmh.h>
#include <dt-bindings/power/qcom,rpmhpd.h>

/dts-v1/;
/plugin/;

&soc {
	nspm: nsp-manager {
		compatible = "qcom,x1p42100-nspm";

		power-domains = <&rpmhpd RPMHPD_NSP>;

		interconnects = <&nsp_noc MASTER_CDSP_PROC QCOM_ICC_TAG_ALWAYS
				 &mc_virt SLAVE_EBI1 QCOM_ICC_TAG_ALWAYS>;

		qcom,session-sids = <0x0c01 0x0c02 0x0c03 0x0c04
				      0x0c05 0x0c06 0x0c07 0x0c08
				      0x0c0c 0x0c0d 0x0c0e 0x0c0f>;
		qcom,terminal-status = <4>;
	};
};

&remoteproc_cdsp {
	glink-edge {
		fastrpc {
			qcom,nspm = <&nspm>;
		};
	};
};
